body {
    margin-top: 120px;
    background-color: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 150px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}

a {
    text-decoration: none;
}
/* navBar */

/* hex */
/* #424a69
#d3d3db
#9d9ca9 */

nav {
	display: flex;
    align-items: center;
    justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: black;
    border-bottom: 2px solid rgb(100, 100, 100);
    z-index: 9;
}

nav .navLeft {
    display: flex;
    width: 200px;
    align-items: center;
}

nav .navLeft a {
    display: flex;
    text-align: center;
    margin-left: 30px;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav .navLeft h1 {
    font-size: 30px;
    font-weight: 500;
}

nav .navLeft img {
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}

nav .navMid input {
    width: 400px;
    height: 27px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(100, 100, 100);
    color: white;
    padding-left: 10px;
}

nav .navMid input:focus {
    outline: none;
}

nav .navMid button {
    margin-left: 150x;
    height: 27px;
    width: 27px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
}

nav .navMid button i {
    position: relative;
    top: 1px;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

nav .navRight a {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    width: 200px;
    color: white;
    text-decoration: none;
}

/* index */

    .addSong {
        margin: 20px 20px;
        height: 40px;
        width: 90px;
        border: none;
        border-radius: 10px;
        background-color: rgb(58, 58, 58);
    }

    .addSong a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

/* songList */

.songList {
    display: flex;
    width: 100%;
    background-color: rgb(100, 100, 100);
    padding: 15px 0;
    border-radius: 10px;
}

.genreTitle {
    color: white;
    margin: 15px 0;
    background-color: rgb(100, 100, 100);
    width: 130px;
    text-align: center;
    border-radius: 10px;
}

.songBox { 
   width: 200px;
   border-radius: 10px;
   background-color: rgb(71, 71, 71);
   margin: 0 20px;
}

.songBox .photo {
    position: relative;
}

.songBox .photo button {
    position: absolute;
    top: 1px;
    right: 1px; 
    width: 15px;
    height: 35px;
    background-color: transparent;
    border: none;
}

.songBox .photo .fa-ellipsis-vertical {
    font-size: 18px;
    color: white;
}

.songBox .photo .dropdown {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgb(53, 53, 53);;
    width: 130px;
    border-radius: 5px;
    display: none;
}

.songBox .photo .playlistModal {
    position: absolute;
    top: 6px;
    right: -130px;
    background-color: rgb(53, 53, 53);
    width: 130px;
    border-radius: 5px;
    display: none;
    z-index: 9;
}

.songBox .photo .playlistModal a {
    display: flex;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid black;
}

.songBox .photo .dropdown a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px 7px;
    align-items: center;
}

.songBox .photo .dropdown a i {
    margin-right: 10px;
    font-size: 20px;
}

.songBox .photo img {
    width: 170px;
    margin: 15px 15px;
    border-radius: 10px;
}

.songBox h4, .songBox h5 {
    margin: 0 15px;
}

.songBox .titlePlayBox {
    display: flex;
    height: 75px;
}

.songBox .titlePlayBox .titleBox {
    width: 75%;
}

.songBox .titlePlayBox .titleBox h4 {
    padding: 5px 0;
    color: white;
}

.songBox .titlePlayBox .titleBox h5 {
    margin-bottom: 1px;
    color: white;
}

.songBox .titlePlayBox .playBox {
    width: 25%;
    display: flex;
    justify-content: center;
    padding-right: 5px;
}

.songBox .titlePlayBox .playBox a {
    color: black;
    font-size: 22px;
    position: relative;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.songBox .titlePlayBox .playBox a i {
    position: relative;
    left: 2px;
}

/* addSong */

.addTitle {
    color: white;
    font-size: 28px;
    margin: 0 20px;
    padding: 20px 0;
}

.addBox {
    display: flex;
    margin: 0 30px;
}

.addBox .addLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.addBox .addLeft label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addLeft select {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    padding-left: 10px;
}

.addBox .addLeft .fileBox {
    display: flex;
    justify-content: flex-start;
}

.addBox .addLeft .fileBox div {
    width: 50%;
    display: grid;
}

.addBox .addLeft .file {
    width: 200px;
    height: 200px;
    margin: 0;
    border: 3px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addBox .addLeft .file p {
    font-size: 16px;
    margin: 10px 0;
}

.addBox .addLeft .fileBox input{
    opacity: 0;
}

.addBox input {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 600px;
    padding-left: 10px;
}

.addBox input:focus {
    outline: none;
}

.addBox .addRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.addBox .addRight label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addRight textarea {
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.addBox .addRight button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* update song */

.addBox .addLeft .file img {
    width: 190px;
}

/* List Playlist  */

.playlistBox {
    background-color: pink;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}

.playlistBox .coverBox {
    width: 200px;
    text-align: center;
    position: relative;
}

.playlistBox .coverBox img {
    max-width: 100%;
    max-height: 100%;
}

.playlistBox .coverBox div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
    opacity: 0.9;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.playlistBox .descBox {
    padding: 10px;
    padding-bottom: 0;
    color: white;
}

/* lyrics */

.lyricsBox {
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 101px;
    bottom: 101px;
}

.lyricsBox .lyricsCover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.lyricsBox .lyricsCover img {
    height: 600px;
}

.lyricsBox .itsLyrics {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lyricsBox .itsLyrics h2 {
    margin-top: 30px;
    height: 40px;
    width: 700px;
    text-align: center;
    border-bottom: 3px solid rgb(100, 100, 100);
    color: white;
}

.lyricsBox .itsLyrics p {
    margin-top: 30px;
    height: 500px;
    width: 650;
    overflow: auto;
    color: white;
}

/* playlist */

.playlistNav {
    background-color: #2E2E2E;
    position: fixed;
    left: 10px;
    top: 130px;
    bottom: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.playlistNav form {
    background-color: #000000;
    width: 250px;
    border-radius: 10px;
}

.playlistNav form button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
}

.playlistNav h2 {
    color: #525252;
    margin: 20px 0;
    background-color: #000000;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.playlistNav h3 {
    color: #525252;
    margin-bottom: 10px;
    padding: 5px 0;
    background-color: #000000;
    width: 180px;
    border-radius: 10px;
    text-align: center;
}

.playlistNav input {
    width: 220px;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #000000;
}

.playlistNav input:focus {
    outline: none;
}

.playlistNav .listPlaylist {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.playlistNav .listPlaylist img {
    width: 50px;
    border-radius: 10px;
}

.playlistNav .listPlaylist div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 25px;
    color: white;
}

.playlistNav .listPlaylist div p {
    color: #525252;
}

.playlistNav .listPlaylist i {
    color: white;
    font-size: 20px;
}

.playlistContainer {
    margin-left: 350px;
    margin-top: 130px;
}

.playlistContainer .playlistDesc {
    background-color: #2E2E2E;
    display: flex;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
}

.playlistContainer .playlistDesc a {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 50px;
}

.playlistContainer .playlistDesc img {
    width: 150px;
    border-radius: 10px;
}

.playlistContainer .playlistDesc div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
    color: white;
}

.playlistContainer .playlistContent {
    background-color: #2E2E2E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    padding-top: 130px;
}

.playlistContent .contentHead {
    display: flex;
    border-bottom: 3px solid black;
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    height: 100px;
    align-items: end;
    padding-bottom: 10px;
}

.playlistContent .contentHead h3 {
    margin: 0 30px;
    color: white;
}

.playlistContent a {
    color: white;
    display: flex;
    align-items: center;
}

.playlistContent a i{
    position: absolute;
    right: 50px;
    font-size: 20px;
}

.playlistContent .contentBox {
    margin-top: 30px;
    display: flex;
    padding-left: 60px;
    align-items: center;
    color: white;
    justify-content: flex-start;
    position: relative;
}

.playlistContent .contentBox img {
    width: 80px;
    margin: 0 50px;
}

/* addPlaylist */

.addTitle {
    color: white;
    font-size: 28px;
    margin: 0 20px;
    padding: 20px 0;
}

.addBox {
    display: flex;
    margin: 0 30px;
}

.addBox .addLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.addBox .addLeft label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addLeft select {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    padding-left: 10px;
}

.addBox .addLeft .fileBox {
    display: flex;
    justify-content: flex-start;
}

.addBox .addLeft .fileBox div {
    width: 50%;
    display: grid;
}

.addBox .addLeft .file {
    width: 200px;
    height: 200px;
    margin: 0;
    border: 3px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addBox .addLeft .file p {
    font-size: 16px;
    margin: 10px 0;
}

.addBox .addLeft .fileBox input{
    opacity: 0;
}

.addBox input {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 600px;
    padding-left: 10px;
}

.addBox input:focus {
    outline: none;
}

.addBox .addRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.addBox .addRight label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addRight textarea {
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.addBox .addRight button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* footer */

footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(37, 37, 37);
    border-top: 1px solid rgb(100, 100, 100);
    z-index: 9;
}

footer .footLeft {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

footer .footLeft .fa-backward,
footer .footLeft .fa-play,
footer .footLeft .fa-forward,
footer .footLeft .fa-pause {
    color: white;
    font-size: 30px;
}

footer .footMid {
    display: flex;
    align-items: center;
    color: white;
}

footer .footMid img {
    width: 50px;
    margin-right: 15px;
    border-radius: 10px;
}

footer .footMid h4 {
    font-size: 20px;
}

footer .footMid h5 {
    font-size: 15px;
}

footer .footRight {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

footer .footRight span {
    color: white;
    font-size: 20px;
    margin-right: 30px;
}

footer .footRight input[type="range"] {
    position: absolute;
    top: -10;
    left: 0;
    right: 0;
    thumb-color: white; 
}