body {
    margin-top: 100px;
    background-color: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 150px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}
/* navBar */

/* hex */
/* #424a69
#d3d3db
#9d9ca9 */

nav {
	display: flex;
    align-items: center;
    justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: black;
    border-bottom: 2px solid rgb(100, 100, 100);
}

nav .navLeft {
    display: flex;
    width: 200px;
    align-items: center;
}

nav .navLeft a {
    display: flex;
    text-align: center;
    margin-left: 30px;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav .navLeft h1 {
    font-size: 30px;
    font-weight: 500;
}

nav .navLeft img {
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}

nav .navMid input {
    width: 400px;
    height: 27px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(100, 100, 100);
    color: white;
    padding-left: 10px;
}

nav .navMid input:focus {
    outline: none;
}

nav .navMid button {
    margin-left: 150x;
    height: 27px;
    width: 27px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
}

nav .navMid button i {
    position: relative;
    top: 1px;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

nav .navRight a {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    width: 200px;
    color: white;
    text-decoration: none;
}

/* index */

    .addSong {
        margin: 20px 20px;
        height: 40px;
        width: 90px;
        border: none;
        border-radius: 10px;
        background-color: rgb(58, 58, 58);
    }

    .addSong a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

/* songList */

.songList {
    display: flex;
}

.songBox {
   border: 1px solid black; 
   width: 200px;
   border-radius: 10px;
   background-color: #9d9ca9;
   margin: 0 20px;
}

.songBox .photo {
    position: relative;
}

.songBox .photo button {
    position: absolute;
    top: 1px;
    right: 1px; 
    width: 15px;
    height: 35px;
    background-color: transparent;
    border: none;
}

.songBox .photo .fa-ellipsis-vertical {
    font-size: 18px;
}

.songBox .photo .dropdown {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: pink;
    width: 80px;
    border-radius: 5px;
    display: none;
}

.songBox .photo .dropdown a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px 7px;
    align-items: center;
}

.songBox .photo .dropdown a i {
    margin-right: 5px;
    font-size: 15px;
}

.songBox .photo img {
    width: 170px;
    margin: 15px 15px;
    border-radius: 10px;
}

.songBox h4, .songBox h5 {
    margin: 0 15px;
}

.songBox .titlePlayBox {
    display: flex;
    height: 75px;
}

.songBox .titlePlayBox .titleBox {
    width: 75%;
}

.songBox .titlePlayBox .titleBox h4 {
    padding: 5px 0;
}

.songBox .titlePlayBox .titleBox h5 {
    margin-bottom: 1px;
}

.songBox .titlePlayBox .playBox {
    width: 25%;
    display: flex;
    justify-content: center;
}

.songBox .titlePlayBox .playBox a {
    color: black;
    font-size: 20px;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.songBox .titlePlayBox .playBox a i {
    position: relative;
    left: 2px;
}

/* addSong */

.addTitle {
    color: white;
    font-size: 28px;
    margin: 0 20px;
    padding: 20px 0;
}

.addBox {
    display: flex;
    margin: 0 30px;
}

.addBox .addLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.addBox .addLeft label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addLeft select {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    padding-left: 10px;
}

.addBox .addLeft .fileBox {
    display: flex;
    justify-content: flex-start;
}

.addBox .addLeft .fileBox div {
    width: 50%;
    display: grid;
}

.addBox .addLeft .file {
    width: 200px;
    height: 200px;
    margin: 0;
    border: 3px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addBox .addLeft .file p {
    font-size: 16px;
    margin: 10px 0;
}

.addBox .addLeft .fileBox input{
    opacity: 0;
}

.addBox input {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 600px;
    padding-left: 10px;
}

.addBox input:focus {
    outline: none;
}

.addBox .addRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.addBox .addRight label {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.addBox .addRight textarea {
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.addBox .addRight button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* update song */

.addBox .addLeft .file img {
    width: 190px;
}

/* footer */

footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(37, 37, 37);
}

footer .footLeft {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

footer .footLeft .fa-backward,
footer .footLeft .fa-play,
footer .footLeft .fa-forward {
    color: white;
    font-size: 30px;
}

footer .footMid {
    display: flex;
    align-items: center;
    color: white;
}

footer .footMid img {
    width: 50px;
    margin-right: 15px;
    border-radius: 10px;
}

footer .footMid h4 {
    font-size: 20px;
}

footer .footMid h5 {
    font-size: 15px;
}

footer .footRight {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}