* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
	background-image: url(background/david-marcu-78A265wPiO4-unsplash.jpg);
	background-size: cover;
    background-color:#080808 ;
}

p {
	color: white;
	padding-top: 12px;
	font-size: 14px;
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: deepskyblue;
}

.containerForm {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 28px;
	width: 300px;
	background-color:#000000 ;
	box-shadow: 0 0 1px rgba(255, 255, 255, .3);
	border-radius: 8px;
}

.containerForm h1 {
	text-align: center;
	padding-bottom: 20px;
	color: #fafafa;
	margin-bottom: 28px;
	border-bottom: 2px solid white;
	letter-spacing: 2px;
}

.containerForm label {
	text-align: left;
	color: #fafafa;
}

.containerForm form input {
	width: calc(100% - 20px);
	padding: 8px 10px;
	margin-bottom: 15px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid  white;
	color: #fff;
	font-size: 14px;
}

.containerForm form button {
	width: 100%;
	height: 40px;
	padding: 5px 0;
	border: none;
	background-color: #282728;
	font-size: 18px;
	color: white;
	border-radius: 8px;
	margin-top: 10px;
    font-weight: bold
}

.containerForm form button:hover {
	background-color:#424242;
    transform: scale(1.1);
}